.table-footer-batch {
	display: flex;
	justify-content: end;
	align-items: flex-start;
    flex-wrap: wrap;
    padding: 1% 1%;
}

.table-footer-batch > Button {
    margin: 0 2% 2% 2%;
    min-width: 100px;
}

@media only screen and (max-width: 705px) {
	.table-footer-batch {
		padding: 3% 2%;
	}
}
